header.header
  .container-fluid
    .row.align-items-center
      .col-3
        .inner-avatar
          a(href=`/my-profile/${user.id}`)
            img(src=user.avatar, alt="avatar") 
      .col-9
        .text-right
          a(
            href=`#`
            class="btn btn-primary btn-sm mr-2"
          ) #{user.fullName}
          a(href=`/user/logout`, class='btn btn-danger ml-auto') Đăng xuất