.sider
  .inner-menu
    ul 
      li
        a(href=`/`) Trang chủ
      li 
        a(href=`/chat`) Tin nhắn
      li 
        a(href=`/friends`) Bạn bè
      li
        a(href=`/tasks`) Công việc
      li
        a(href=`/weather`) Thời tiết
      li 
        a(href=`https://www.google.com/maps/dir/?api=1&destination=${20.9703489},${105.7949736}` target="blank") vij tris
