/* Header */
.header {
    background: #ffff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  
  .header .inner-avatar a img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  /* End Header */
  
  /* Body */
  .body .sider {
    width: 150px;
    background: #0091FF;
    color: #fff;
    height: calc(100vh - 101px);
    /* height: 100vh; */
    position: fixed;
    top: 101px;
    left: 0;
  }
  
  .body .main {
    margin: 15px;
    position: relative;
    left: 150px;
    width: calc(100% - 180px);
  }
  /* End Body */
  
  /* Sider */
  .sider .inner-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sider .inner-menu ul li a {
    color: #fff;
    display: block;
    padding: 6px 10px;
    border-bottom: 1px solid #515151;
  }
  /* End Sider */

  /* Show Alert */
  [show-alert] {
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 9999;
  }
  
  [show-alert].alert-hidden {
    animation-name: alert-hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }
  
  @keyframes alert-hidden {
    from {
      right: 15px;
    }
    to {
      right: -100%;
      display: none;
    }
  }
  
  [show-alert] [close-alert] {
    background: #ffffffc4;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
  }
  /* End Show Alert */

  /* chat */

.chat {
  /* margin-top: 40px; */
  width: 100%;
  background-color: #E2E4EA;
  border: 2px solid #dddd;
  border-radius: 8px;
  overflow: hidden;
}

.chat .inner-head {
  background-color: #0091FF;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.chat .inner-head .inner-avatar {
  background: #FE5DA3;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  line-height: 32px;
  color: #fff;
}

.chat .inner-head .inner-name {
  display: inline-block;
  font-weight: 600;
  margin-left: 5px;
}

.chat .inner-body {
  padding: 10px;
  max-height: 450px;
  overflow-y: auto;
}

.chat .inner-body .inner-name {
  font-weight: 600;
}

.chat .inner-body .inner-content {
  background: #FBFBFB;
  margin-bottom: 10px;
  max-width: 220px;
  padding: 5px 10px;
  border-radius: 15px;
  line-height: 1.4;
  color: #081C36;
}

.chat .inner-outgoing .inner-content {
  margin-left: auto;
  background: #E4EEFE;
  color: #081C36;
}

.chat .inner-foot {
  border-top: 1px solid #ddd;
  padding: 10px;
}

.chat .inner-form {
  display: flex;
  align-items: center;
}

.chat .inner-form input {
  flex: 1;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 0 10px;
  outline: none;
}

.chat .inner-form button {
  border-radius: 15px;
  border: 1px solid #fff;
  background: #ffff;
  color: #0091FF;
  height: 32px;
  padding: 0 10px;
  cursor: pointer;
}

.chat .button-icon {
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
}

.chat .button-icon i {
  font-size: 25px;
}

.chat {
  position: relative;
}

.emoji {
  position: absolute;
  right: 65px;
  bottom: 45px;
  /* display: none; */
}

.chat .button-icon-image {
  margin-left: 5px;
  cursor: pointer;
}

.chat .button-icon-image i {
  font-size: 25px;
}

.chat .inner-preview-images {
  position: relative;
}

.chat .inner-preview-images .label-container {
  display: none;
}

.chat .inner-preview-images .input-container {
  display: none;
}

.chat .inner-preview-images .image-preview {
  height: auto;
  padding: 0;
  border-radius: 0;
}

.chat .inner-preview-images .image-preview-item {
  width: 90px;
  background-size: contain;
}

.chat .inner-body .inner-images img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  background: #efefef;
  padding: 10px;
  margin: 0 5px 5px 0;
  border-radius: 5px;
}

.chat .inner-body .inner-outgoing .inner-images {
  margin-left: auto;
  text-align: right;
}

.chat .inner-body .inner-outgoing .inner-images img {
  margin: 0 0 5px 5px;
}

.inner-list-chat {
  max-height: 550px; /* Adjust the height as needed */
  overflow-y: auto;
  border: 2px solid #dddd;
  /* display: flex; */
  width: 100%;
  height: 550px;
}

.inner-list-chat a {
  padding: 10px;
  position: relative;
  display: block;
  font-weight: 600;
  font-size: 18px;
  height  : 50px;
  color: #000;
  border-bottom: 2px solid #dddd;
  cursor: pointer;
  overflow: hidden;
  z-index: 999;
}
/* End chat */


/* Button friend */

.box-user {
  display: flex;
  flex-direction: column;
  border: 2px solid #dddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
}

.box-user .inner-avatar {
  border: 2px #0000;
  
}

.box-user .inner-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.box-user .inner-info {
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-user .inner-info .inner-fullname{
  font-size: 15px;
  font-weight: 600;
  margin-left: 5px;
  margin-bottom: 5px;
}

.box-user .inner-info .inner-buttons {
  display: flex;
  flex-direction: column;
}

.box-user .inner-info .inner-buttons .button-requests {
  margin-bottom: 5px;
}


.box-user [button-cancel] {
  display: none;
}

.box-user.add [button-add-friend] {
  display: none;
}

.box-user.add [button-cancel] {
  display: inline-block;
}

/* Thông báo */

.button-friend {
  position: relative;
}

/* .button-friend .add[request-friend-notification] {
  display: inline-block;
} */

.request-friend-notification {
  display: none;
  position: absolute;
  background-color: red;
  width: 10px;
  height: 10px;
  top: 0;
  right: 0;
  border-radius: 50%;
}

/* End Thông báo */


/* Dots(Dấu 3 chấm)*/

.dots {
  position: absolute;
  right: 4px;
  width: 5px;
  height: 5px;
  cursor: pointer;
}

.list-operation ul {
  position: absolute;
  background-color: #ffff;
  list-style: none;
}

.list-operation ul li button{
  border: 0;
  background-color: #ffff;
}

/* End Dots (Dấu 3 chấm)*/

/* End Button friend */


/* Post */

.inner-posts-wrap {
  margin-bottom: 10px;
}

.inner-posts-head .inner-title {
  display: flex;
}

.inner-posts-head .inner-title .inner-avatar img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.inner-posts-head .inner-title .inner-fullname {
  font-size: 16px;
  font-weight: 600;
}

.inner-posts-body {
  margin-bottom: 10px;
}

.inner-posts-body .inner-image img {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

.inner-posts-body .inner-posts-like {
  margin-bottom: 10px;
}

.inner-posts-body .inner-total-interact {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dddd;
}

.inner-button {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.inner-button .button-like {
  border: 0;
  width: 30%;
  background-color: #F4F5F6;
}


.button-like.active {
  background-color: #007bff;
  color: #ffff;
}

.inner-button .button-comment {
  border: 0;
  width: 30%;
  background-color: #F4F5F6;
}
.button-like {
  display: inline-flex;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid #6c757d;
  border-radius: 4px;
  color: #6c757d;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.button-like, .button-comment {
  display: inline-flex;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid #6c757d;
  border-radius: 4px;
  color: #6c757d;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 8px;
}

.button-like i, .button-comment i {
  margin-right: 5px;
}

.button-like:hover, .button-comment:hover {
  background-color: #007bff;
  color: #fff;
}

.button-like:active, .button-comment:active {
  background-color: #0056b3;
  color: #fff;
}

.button-comment {
  border: 1px solid #6c757d;
  color: #6c757d;
}

.button-comment:hover {
  background-color: #6c757d;
  color: #fff;
}

.button-comment:active {
  background-color: #5a6268;
  color: #fff;
}

.inner-create-post {
  margin-bottom: 20px;
}

.inner-create-post .inner-content:hover {
  background-color: #E4E6E9;
  border-radius: 12px;
}

.inner-create-post .inner-content{
  width: 100%;
  height: 40px;
  background-color: #f0ececdd;
  border-radius: 12px;
  padding: 10px;
  /* text-align: center; */
}

.inner-form-create-post {
  border: 1px solid #ddd;
  position: relative;
}

.inner-form-create-post .button-close-form {
  position: absolute;
  right: 3px;
  width: 20px;
  height: 20px;
  background-color: #dddd;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

/* End Post */

/* Profile */

.header-profile {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  border: 1px solid #000;
}

.cover-photo {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.cover-photo img {
  width: 100%;
  height: auto;
}

.profile-info {
  position: relative;
  top: -100px; 
  display: flex;
  flex-direction: column;
  /* position: fixed; */
  align-items: center;
}

.profile-info img.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid white;
}

.user-name {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.inner-about {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
}

.inner-about h2 {
  font-size: 30px;
  font-weight: 600;
}

.inner-about .inner-home-town {
  font-weight: 600;
  background-color: #dddd;
  padding: 3px;
  border-radius: 9px;
  margin-bottom: 10px;
}

.inner-about .inner-phone-number {
  font-weight: 600;
  background-color: #dddd;
  padding: 3px;
  border-radius: 9px;
  margin-bottom: 10px;
}

.inner-about .inner-email {
  font-weight: 600;
  background-color: #dddd;
  padding: 3px;
  border-radius: 9px;
}

.inner-body-post {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}

.inner-change-profile a {
  color: #000;
  background-color: #dddd;
  padding: 5px;
  border-radius: 8px;
  font-size: 14px;
}

.button-back {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.button-back:hover {
  background-color: #0056b3;
}


.room-chat-name {
  position: relative;
}
.room-chat-name img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 153px;

}

/* .room-chat-name a {
  position: absolute;
  left: 20px; 
} */
/* End profile */


/* Comment */

.inner-header-post {
  text-align: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  font-weight: 1200;
}

.comments-section-container {
  position: relative;
  padding-bottom: 80px; /* Khoảng cách để chừa chỗ cho phần nhập bình luận */
}

.comments-section {
  max-height: 300px; /* Chiều cao tối đa cho phần bình luận */
  overflow-y: auto; /* Thêm thanh cuộn dọc nếu nội dung vượt quá chiều cao này */
}

.comments-section .inner-comment {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #3498db; /* Màu nền */
  color: #fff;
  transition: height 0.3s ease;
  overflow: hidden; /* Đảm bảo rằng phần bình luận không vượt quá kích thước mong muốn */
}

.comments-section .inner-avatar {
  margin-right: 10px;
}

.comments-section .inner-avatar img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.comments-section .inner-content {
  flex: 1;
}

.comments-section .inner-fullname h3 {
  margin: 0;
  font-size: 1.2em;
}

.comments-section .inner-title p {
  margin: 5px 0 0;
}

.comment-input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; /* Chiều rộng bằng với .container */
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

 .comment-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

 .comment-input button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
}


/* End Comment */


/* Task */

.task-mangement{
  display: none;
}

/* Những class nào có thêm active thì hiển thị */
.task-mangement.active{ 
  display: block;
}

/* CSS để điều chỉnh dropdown menu */
.form-group .dropdown-menu {
  min-width: auto; /* Để menu rộng tự động */
}

.dropdown-item label {
  display: flex; /* Sử dụng flexbox để các phần tử trong dropdown-item trở thành cùng một dòng */
  align-items: center; /* Căn chỉnh các phần tử vào trung tâm theo chiều dọc */
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.dropdown-item label:hover {
  background-color: #f8f9fa; /* Màu nền khi hover */
}

.dropdown-item input[type="checkbox"] {
  margin-right: 0.5rem; /* Khoảng cách giữa checkbox và tên người thực hiện */
}

/* Ẩn dropdown menu khi chọn tên người thực hiện */
.dropdown-menu.show {
  display: block !important; /* Hiển thị dropdown menu */
}


.form-task {
  display: inline;
}

/* End Task */


/* Weather */

.weather-title {
  font-size: 2.5rem;
  font-weight: bold;
}
.weather-current, .weather-forecast {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}
.weather-current-header, .weather-forecast-header {
  background-color: #007bff;
  color: #fff;
}
.weather-current-body, .weather-forecast-body {
  padding: 15px;
}
.weather-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.weather-info i {
  font-size: 1.5rem;
  margin-right: 10px;
  color: #007bff;
}
.weather-current-text, .weather-forecast-text {
  font-size: 1.2rem;
}


/* End Weather */