extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-success(5000)
  .container.mt-5
      h1 Thời tiết hôm nay
      button(class="view-wheather") Xem thời tiết
  script(src="/js/location.js")