extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    .row
      .col-2
        .inner-list-chat 
          each user in users
            div(class="room-chat-name")
              img(src=user.avatar)
              a(href=`/chat/${user.room_chat_id}`) #{user.fullName}
          