doctype html
html
  head
    title #{pageTitle}

    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    -// Nhúng css phần upload nhiều ảng bằng thư viện file-upload-with-review
    link(rel="stylesheet", href="https://unpkg.com/file-upload-with-preview/dist/style.css")
    link(rel="stylesheet", href="/css/base.css")
    link(rel="stylesheet", href="/css/style.css")

  body

    include ../partials/header.pug

    .body

      include ../partials/sider.pug

      .main
        block main

    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js") 
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js")
    //- Nhúng js thư viện icon emoji-picker
    script(type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js") 
    -// Nhúng js thư viện file-upload-with-review
    script(src="https://unpkg.com/file-upload-with-preview/dist/file-upload-with-preview.iife.js") 
    //- Nhúng socketIo
    script(src="/socket.io/socket.io.js") 
    script(src="/js/socket.js")
    script(type="module", src="/js/chat.js") 
    script(type="module", src="/js/friend.js") 
    script(src="/js/alert.js")

    //- Lấy ra vị trí 
    script(src="/js/location.js")
    

    script(src="/js/script.js") 