extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main

  .container.my-3
    include ../../partials/friend.pug  
    h1 Lời mời đã gửi
    .row 
      if (users.length > 0)
        each user in users
          .col-2
            div(class="box-user" my-id=user.id)  
              div(class="inner-avatar")
                img(src="https://cellphones.com.vn/sforum/wp-content/uploads/2023/10/avatar-trang-4.jpg", alt="")
              div(class="inner-info")
                div(class="inner-fullname") #{user.fullName}
                div(class="inner-buttons")
                  span(
                    class="btn btn-sm btn-secondary mr-1 btn-refuse-request"
                  ) Hủy lời mời

